<!DOCTYPE html>
<html>
    <head>
        <title>Gestion des projets</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="pics/cash1.svg">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
        <style>
            #projectApp {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }

            #projectApp header {
                text-align: center;
                font-size: 24px;
                border-bottom: 1px solid lightslategrey;
                margin-bottom: 20px;
            }

            #projectApp-table {
                border-collapse: collapse;
                width: 100%;
            }

            #projectApp-table td, #projectApp-table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #projectApp-table tr:nth-child(even){
                background-color: #f2f2f2;
            }

            #projectApp-table tr:hover {
                background-color: #ddd;
            }

            #projectApp-table th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: DodgerBlue;
                color: white;
            }
            
            #project-dialog {
                width: 600px;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <h1>FundRaising Progress</h1>
            <div class="nav"><a href="index.html">&#x2302;</a> - Gestion des projets</div>
        </div>

        <div id="projectApp">
            <header>Projets</header>
            <main>
                <table id="projectApp-table">
                    <thead>
                        <tr>
                            <th>Identifiant</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tboby>
                        <tr v-for="project in projects" :key="project.id">
                            <td>{{ project.id }}</td>
                            <td>{{ project.name }}</td>
                            <td>{{ project.description }}</td>
                            <td>
                                <button @click="showProjectModal(project)">Editer</button>
                                <button class="delete" @click="deleteProject(project.id)">Supprimer</button>
                            </td>
                        </tr>
                    </tboby>
                </table>
                <nav style="display: flex; justify-content: center; margin-top: 20px;">
                    <ul style="display: flex; list-style: none; padding: 0;">
                        <li v-for="page in totalPages" :key="page" @click="changePage(page)" style="margin: 0 5px;">
                            <a href="#" :style="{ fontWeight: currentPage === page ? 'bold' : 'normal', cursor: 'pointer' }">{{ page }}</a>
                        </li>
                    </ul>
                </nav>
                <button @click="showProjectModal(null)">Ajouter</button>
            </main>
            <footer></footer>

            <dialog id="project-dialog">
                <form @submit.prevent="saveProject">
                    <fieldset>
                        <div style="display: grid; grid-template-columns: 25% 75%">
                        <label for="name">Nom : </label>
                        <input type="text" id="name" v-model="formData.name" placeholder="Nom" required>
                        <label for="description">Description : </label>
                        <textarea id="description" v-model="formData.description" placeholder="Description" required></textarea>
                        <label for="goalValue">Montant cible : </label>
                        <input type="number" id="goalValue" v-model="formData.goalValue" placeholder="Montant cible" required>
                        <label for="currentValue">Montant actuel : </label>
                        <input type="number" id="currentValue" v-model="formData.currentValue" placeholder="Montant actuel" required>
                        </div>
                    </fieldset>
                    <menu>
                        <button type="submit">Enregistrer</button>
                        <button type="button" class="cancel" @click="closeModal">Annuler</button>
                    </menu>
                </form>
            </dialog>
        </div>
        <script>
            const {createApp, ref, computed} = Vue;

            createApp({
                data() {
                    return {
                        currentPage: 1,
                        editMode: false,
                        editedProjectId: null,
                        formData: {
                            name: '',
                            description: '',
                            goalValue: '',
                            currentValue: ''
                        },
                        modalVisible: false,
                        pageSize: 5,
                        projects: [],
                        totalPages: 1
                    };
                },
                methods: {
                    changePage(page) {
                        this.currentPage = page;
                        this.getAllProjects(page);
                    },
                    closeModal() {
                        this.modalVisible = false;
                        this.editMode = false;
                        this.resetForm();
                        document.getElementById('project-dialog').close();
                    },
                    deleteProject(projectId) {
                        fetch(`/api/project/${projectId}`, { method: 'DELETE' })
                                .then(() => { this.getAllProjects(this.currentPage); })
                                .catch(error => { console.error('Error deleting project :', error); });
                    },
                    getAllProjects(page) {
                        fetch(`/api/project?page=${page - 1}&size=${this.pageSize}`)
                                .then(response => response.json())
                                .then(data => {
                                    this.projects = data.content;
                                    this.totalPages = data.totalPages;
                                })
                                .catch(error => { console.error('Error fetching projects :', error); });
                    },
                    saveProject() {
                        if (this.editMode) {
                            fetch(`/api/project/${this.editedProjectId}`, {
                                method: 'PUT',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify(this.formData)
                            })
                            .then(() => {
                                this.getAllProjects(this.currentPage);
                                this.closeModal();
                            })
                            .catch(error => { console.error('Error updating project :', error); });
                        } else {
                            fetch(`/api/project`, {
                                method: 'POST',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify(this.formData)
                            })
                            .then(() => {
                                this.getAllProjects(this.currentPage);
                                this.closeModal();
                            })
                            .catch(error => { console.error('Error adding project : ', error); });
                        }
                    },
                    showProjectModal(project) {
                        this.editMode = !!project;
                        this.modalVisible = true;
                        if (project) {
                            this.editedProjectId = project.id;
                            this.formData = {...project};
                        } else {
                            this.resetForm();
                        }
                        document.getElementById('project-dialog').showModal();
                    },
                    resetForm() {
                        this.formData = {
                            name: '',
                            description: '',
                            goalValue: '',
                            currentValue: ''
                        };
                        this.editedProjectId = null;
                    }
                },
                mounted() {
                    this.getAllProjects(this.currentPage);
                }
            }).mount('#projectApp');
        </script>

    </body>
</html>
