<!DOCTYPE html>
<html>
    <head>
        <title>Gestion des projets</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="pics/cash1.svg">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <style>
            #delete-picture {
                background-color: transparent;
                color: gray;
                font-size: 36px;
                margin: 0;
                padding: 0;
                width: auto;
            }
            
            .image-uploader {
                cursor: pointer;
                display: flex;
                border: 1px solid #aaa;
                border-radius: 0.5rem;
                box-shadow: 0 0 5px 1px #aaa inset;
                flex-direction: column;
                justify-content: center;
                background: white;
                background-image: none;
                background-size: auto;
                position: relative;
                overflow: hidden;
            }

            .image-uploader label {
                cursor: pointer;
                height: 100%;
                box-sizing: border-box;
                padding-top: 4rem;
                padding-bottom: 1rem;
            }

            .image-uploader svg {
                height: calc(100% - 8rem);
            }

            .image-uploader svg, .image-uploader p {
                display: block;
                color: #aaa;
                margin: 0 auto;
            }

            .image-uploader svg + p {
                line-height: 8rem;
                text-align: center;
            }

            #projectApp {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }

            #projectApp header {
                text-align: center;
                font-size: 24px;
                border-bottom: 1px solid lightslategrey;
                margin-bottom: 20px;
            }

            #projectApp-table {
                border-collapse: collapse;
                width: 100%;
            }

            #projectApp-table td, #projectApp-table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #projectApp-table tr:nth-child(even){
                background-color: #f2f2f2;
            }

            #projectApp-table tr:hover {
                background-color: #ddd;
            }

            #projectApp-table th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: DodgerBlue;
                color: white;
            }

            #project-dialog {
                width: 600px;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <h1>FundRaising Progress</h1>
            <div class="nav"><a href="index.html">&#x2302;</a> - Gestion des projets</div>
        </div>

        <div id="projectApp">
            <header>Projets&nbsp;&#128392;</header>
            <main>
                <table id="projectApp-table">
                    <thead>
                        <tr>
                            <th>Identifiant</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tboby>
                        <tr v-for="project in projects" :key="project.id">
                            <td>{{ project.id }}</td>
                            <td>{{ project.name }}</td>
                            <td>{{ project.description }}</td>
                            <td>
                                <button @click="showProjectModal(project)">Editer</button>
                                <button class="delete" @click="deleteProject(project.id)">Supprimer</button>
                            </td>
                        </tr>
                    </tboby>
                </table>
                <nav style="display: flex; justify-content: center; margin-top: 20px;">
                    <ul style="display: flex; list-style: none; padding: 0;">
                        <li v-for="page in totalPages" :key="page" @click="changePage(page)" style="margin: 0 5px;">
                            <a href="#" :style="{ fontWeight: currentPage === page ? 'bold' : 'normal', cursor: 'pointer' }">{{ page }}</a>
                        </li>
                    </ul>
                </nav>
                <button @click="showProjectModal(null)">Ajouter</button>
            </main>
            <footer></footer>

            <dialog id="project-dialog">
                <form @submit.prevent="saveProject">
                    <fieldset>
                        <div style="display: grid; grid-template-columns: 25% 75%">
                            <label for="name">Nom : </label>
                            <input type="text" id="name" v-model="formData.name" placeholder="Nom" required>
                            <label for="description">Description : </label>
                            <textarea id="description" v-model="formData.description" placeholder="Description" required></textarea>
                            <label for="goalValue">Montant cible : </label>
                            <input type="number" id="goalValue" v-model="formData.goalValue" placeholder="Montant cible" required>
                            <label for="currentValue">Montant actuel : </label>
                            <input type="number" id="currentValue" v-model="formData.currentValue" placeholder="Montant actuel" required>
                        </div>
                        <div style="width: 320px; margin: 15px auto;">
                            <div class="image-uploader" style="height: 220px;">
                                <label for="picture">
                                    <div id="no-picture" style="align-content: center; position: absolute; left: 0px; height: 100%; text-align: center; top: 0px; width: 100%">
                                        <img src="pics/camera.svg" style="height: 180px; width: 180px">
                                        <p>Ajouter une illustration</p>
                                    </div>
                                    <div id="yes-picture" style="align-content: center; position: absolute; left: 0px; height: 100%; text-align: center; top: 0px; width: 100%">
                                        <img style="max-height: 180px; max-width: 180px">
                                    </div>
                                </label>
                                <input id="picture" type="file" accept="image/*" @change="onFileChanged($event)" style="display: none;">
                            </div>
                        </div>
                        <div style="text-align: center"><button id="delete-picture" @click="clearFile" type="button">&#128465;</button></div>
                    </fieldset>
                    <menu>
                        <button type="submit">Enregistrer</button>
                        <button type="button" class="cancel" @click="closeModal">Annuler</button>
                    </menu>
                </form>
            </dialog>
        </div>
        <script>
            const {createApp, ref, computed} = Vue;
            
            const initPicture = function() {
                $("#picture").val("");
                $("#yes-picture").css("visibility", "hidden");
                $("#no-picture").css("visibility", "visible");
            };

            const uploadPicture = function(id) {
                if (id) {
                    var file = $("#picture")[0].files[0];
                    
                    var reader = new FileReader();
                    var start = 0;
                    var stop = file.size - 1;
                    
                    var blob;
                    if (file.slice) {
                        blob = file.slice(start, stop + 1);
                    } else if (file.webkitSlice) {
                        blob = file.webkitSlice(start, stop + 1);
                    } else if (file.mozSlice) {
                        blob = file.mozSlice(start, stop + 1);
                    }
                    

                    console.log(reader.readAsText(blob));
                    
                    https://www.geeksforgeeks.org/javascript/how-to-read-a-local-text-file-using-javascript/

//                    let formData = new FormData();
//                    formData.append('id', id);
//                    
//                    if (file) {
//                        formData.append('file', file);
//
//                        $.ajax({
//                            contentType: false,
//                            data: formData,
//                            processData: false,
//                            type: 'POST',
//                            url: 'api/picture/upload'
//                        });
//                    } else {
//                        $.ajax({
//                            contentType: false,
//                            data: formData,
//                            processData: false,
//                            type: 'POST',
//                            url: 'api/picture/delete'
//                        });
//                    }
                }
            };

            createApp({
                data() {
                    return {
                        currentPage: 1,
                        editMode: false,
                        editedProjectId: null,
                        formData: {
                            id: '',
                            name: '',
                            description: '',
                            goalValue: '',
                            currentValue: ''
                        },
                        modalVisible: false,
                        pageSize: 5,
                        projects: [],
                        totalPages: 1
                    };
                },
                methods: {
                    changePage(page) {
                        this.currentPage = page;
                        this.getAllProjects(page);
                    },
                    clearFile() {
                        initPicture();
                    },
                    closeModal() {
                        this.modalVisible = false;
                        this.editMode = false;
                        this.resetForm();
                        initPicture();
                        document.getElementById('project-dialog').close();
                        
                    },
                    deleteProject(projectId) {
                        fetch(`/api/project/${projectId}`, {method: 'DELETE'})
                                .then(() => {
                                    let formData = new FormData();
                                    formData.append('id', projectId);
                                    $.ajax({
                                        contentType: false,
                                        data: formData,
                                        processData: false,
                                        type: 'POST',
                                        url: 'api/picture/delete'
                                    });
                                    
                                    this.getAllProjects(this.currentPage);
                                })
                                .catch(error => {
                                    console.error('Error deleting project :', error);
                                });
                    },
                    getAllProjects(page) {
                        fetch(`/api/project?page=${page - 1}&size=${this.pageSize}`)
                                .then(response => response.json())
                                .then(data => {
                                    this.projects = data.content;
                                    this.totalPages = data.totalPages;
                                })
                                .catch(error => {
                                    console.error('Error fetching projects :', error);
                                });
                    },
                    onFileChanged(event) {
                        let htmlInputElement = event.target;
                        if (htmlInputElement && htmlInputElement.files) {
                            let pictureFile = htmlInputElement.files[0];
                            $("#yes-picture img").attr("src", URL.createObjectURL(pictureFile));
                            $("#no-picture").css("visibility", "hidden");  
                            $("#yes-picture").css("visibility", "visible");
                        }
                    },
                    saveProject() {
                        if (this.editMode) {
                            fetch(`/api/project/${this.editedProjectId}`, {
                                method: 'PUT',
                                headers: {'Content-Type': 'application/json'},
                                body: JSON.stringify(this.formData)
                            })
                                    .then(() => {
                                        this.getAllProjects(this.currentPage);
                                        this.closeModal();
                                    })
                                    .catch(error => {
                                        console.error('Error updating project :', error);
                                    });
                            uploadPicture(this.editedProjectId);
                        } else {
                            fetch(`/api/project`, {
                                method: 'POST',
                                headers: {'Content-Type': 'application/json'},
                                body: JSON.stringify(this.formData)
                            })
                                    .then(response => response.json())
                                    .then(data => this.editedProjectId = data.id)
                                    .then(() => {
                                        uploadPicture(this.editedProjectId);
                                        this.getAllProjects(this.currentPage);
                                        this.closeModal();
                                    })
                                    .catch(error => {
                                        console.error('Error adding project : ', error);
                                    });
                        }            
                    },
                    showProjectModal(project) {
                        this.editMode = !!project;
                        this.modalVisible = true;
                        if (project) {
                            this.editedProjectId = project.id;
                            this.formData = {...project};
                        } else {
                            this.resetForm();
                        }
                        document.getElementById('project-dialog').showModal();
                    },
                    resetForm() {
                        this.formData = {
                            id: '',
                            name: '',
                            description: '',
                            goalValue: '',
                            currentValue: ''
                        };
                        this.editedProjectId = null;
                    }
                },
                mounted() {
                    this.getAllProjects(this.currentPage);
                }
            }).mount('#projectApp');

            $(document).ready(function () {
                $("#delete-picture").on('click', function () {
                    //initPicture();
                });
                
//                $("#picture").on('change', function () {
//                    var pictureFile = $(this).prop('files')[0];
//                    if (pictureFile) {
//                        $("div.image-uploader").css("background-image", "url(" + URL.createObjectURL(pictureFile) + ")").css("background-size", "contain");
//                        $("#no-picture").css("visibility", "hidden");
//                    }
//                });
            });
        </script>
    </body>
</html>
